/*首頁*/
#homebody .addauto{
    background: #fff
}
/*head*/
.navbar{
  padding:0.5em 0 0.2em;
  /*第一層*/
  margin-bottom: 0em;
  position:relative;
  z-index: 99999;
  .nav-headfirst{
    display:flex;
    flex:3 auto;
    justify-content: center;
    align-items:center;
      @media #{$pad-pc}{
        padding:0 0.5em;
      }
    .iso{
      margin:0 3em 0 0;      
      @media #{$pad-pc}{
        margin:0;
        width: 200px;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .googleSRCH{
      display:flex;:focus::-webkit-placeholder{color:transparent}
      justify-content:center;
      align-items:center;
      margin:0 1em 0 1em;
      @media #{$pad-pc}{
        margin:0;
      }
    }
    .right-group{
      margin:0 0 0 1em;
      >img{
      }
      .memberCart{
        ul{
          padding-left: 0;
          list-style-type:none;          
          float:right;
          display:flex;
          align-items:center;
          justify-content:center;
          margin-bottom: 0;
          li{
            display:inline-block;            
            margin:0 0.3em;
            a{
              color:#000;            
            }
          }
          >a{
            margin:0;
            border-color:$color-1;
            position:relative;
            display:flex;
            justify-content:center;
            align-items:center;
            width: 36px;
            height: 36px;
            margin-left: 0.5em;
            i{
              color:$color-1;
              display:block;
              font-size: 18px;
            }
            span{
              position:absolute;
              top:-8px;
              right:-8px;
              background: red;
            }
          }
        }
      }
    }
    .brand{
      margin:0 5em 0 5em;
      @media #{$pad-pc}{
        margin:0;
      }
    }
  }  
  /*第二層*/
  .container{
    width: 100%;    
    background: $color-1;
    border-radius: 2em 2em 0 0;
    @media #{$mobile}{
      padding:0;
    }
    .navbar-collapse {
      width: 100%;
      @media (min-width: 768px){
        display:block;
      }
    }
    .navbar-collapse > ul{
      width: 100%;
      padding:0 15%;
      display:flex;
      align-items: center;
      justify-content:center;      
      @media #{$pad-pc}{
        padding:0 0em;
      }
      @media #{$mobile}{
        display:block;
      }
      /*選單*/
      >li{
        width:calc(100% / 8);
        padding:0.5em 0 0.3em;
        transition:$transition-1;
        &:hover{
          @media (min-width: 768px){
            background: $color-3;
          }
        }
        >a{
          padding:0;
          >span{
            display:block;
            text-align:center;
            color:#fff;
            line-height:1.5em;
            &:first-child{
              text-transform:uppercase;
              font-size: 12px;
              line-height:1em;
            }
          }
        }
        /*第一層*/
          ul{
            background: rgba(243, 152, 0, 0.8);
            li{
              a{
                padding-left: 0.5em;
                padding-right: 0.5em;
                color:#fff;
                transition:$transition-1;
                &:hover,&:active,&:focus{
                  @media (min-width: 768px){                    
                    background: $color-3;
                    transition:$transition-1;
                  }
                  &::after{
                    transition:$transition-1;
                    margin-right: -0.5em;
                    border-color:transparent transparent transparent #fff;
                  }
                }
              }
              >ul{
                >li{
                  a{
                    &::after{
                      display:none;
                    }
                  }
                }
              }
              /*第二層*/
              ul.submenu.submenu{
                background: rgba(243, 152, 0, 0.8);
                li{
                  &:hover{
                    background: $color-3;
                    a{
                      background: transparent;
                    }
                  }
                  a{
                    width: 100%;
                    display:block;
                  }
                }
              }
            }
          }
      }
    }
  }
  @media #{$mobile}{
    padding:0;    
    .nav-headfirst{
      display:flex;
      flex:2;
      flex-wrap:wrap;
      .iso{
        width: 50%;
        display:inline-flex;
        margin:0;
        align-items:center;
        justify-content:center;
        img{
          display:block;
          width: 100%;
          height: auto
        }
      }
      .brand{
        width: 50%;
        display:inline-flex;
        margin:0;
        align-items:center;
        justify-content:center;
      }
      .googleSRCH{
        display:inline-flex;
        width: 40%;
        margin:0 auto;
        align-items:center;
        justify-content:center;
      }
      .right-group{
        display:inline-flex;
        width: 50%;
        margin:0;
        align-items:center;
        justify-content:center;
        img{
          display:block;
          width: 100%;
          height: auto
        }
      }
    }
    .container{
      background: transparent;
      .navbar-header{
        position:relative;
        z-index: 99999999;
        margin:0;
      }
      .navbar-toggle{
        position:relative;
        z-index: 999999;
        background: $color-1;
        .icon-bar{
          background: #fff;
        }
      }
      /*下拉內容*/
      .navbar-collapse{
        padding:0;
        background: $color-1;
        margin:0;
        >ul.nav.navbar-nav.nav.navbar-nav{
          width: 100%;
          margin:0;
          padding:0;
          li{
            width: 100%;
            a{
              padding: .3em 0
            }
          }
          #ulMember{
            margin:0;
            padding:0;
            list-style-type:none;
            display:inline-flex;
            flex:3;
            width: 100%;
            flex-wrap:wrap;
            .pull-right{
              float:inherit!important;;
            }
            li{
              width: 33.33%;
              margin:1em 0;
                a{              
                color:#fff;
                text-align:left;
                padding-left: 0.5em;
                font-size: 14px;
              }
            }
            >a#acart{
              display:block;
              position: relative;
              i{
                width: 100%;
                }
              span{
                position:absolute;
                top:-0.5px;
                right:-0.5px;
              }
            } 
          }
          >li a span{
            color:#fff;
            text-align:left;
            padding-left: 0.5em;
            &:first-child{
              text-transform:uppercase;
              display:block;
              font-size: 13px;
            }
          }
          >li{
            >ul{
              background: rgba(255,255,255,.2);
              >li{
                  padding:0.2em 0;
                  >a{
                    color:#fff;
                    padding-left: 1.5em;
                    width: 100%
                  }
                  >ul{
                    background: rgba(255,255,255,.2);
                    >li{
                      a{
                        color:#fff;
                      }
                      ul{
                        background: rgba(255,255,255,.2);
                        li{
                          a{
                            color:#fff;
                            width: 100%;
                            display:block;
                            padding:0.2em 0;
                          }
                        }
                      }
                    }
                  }
              }
            }
          }
          li a:hover{
            background: $color-3;
          }
        }  
      }
    }
  }
}

/*輪播圖*/
.banner{
    .owl-nav{
    display:block;
    .owl-{
      &prev,&next{
        position:absolute;
        height: 100%;
        display:flex;
        align-items:center;
        top:0;
        &::before{
          @extend  .triangle-right;
          border-width:1em;
          @media #{$mobile}{
            display:none;
          }
        }
      }
      &prev{            
        left: 1em;
        &::before{
          border-color:transparent #fff transparent transparent;
        }
      }
      &next{
        right:1em;
      }
    }
  }  
}

/*title*/
.mainmenu,.calendar,.popular,.news{
  padding:0;
  .title{
    text-align:center;
    font-size: 2.2em;
    font-weight: bold;
    position:relative;
    display:flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    color:$color-3;
    background: url('http://rawpanel.com/N2ISC/image.aspx?id=2d541c7546fe4064ad67cb701c5d160b')center center no-repeat;
    background-size: 100% auto;
    padding: 0.2em 0;
    &::before,&::after{
      @extend  .circle;
    }
    @media #{$mobile}{
      background-size: 350%;
    }
    span{
      position: absolute;
      bottom:-1.2em;
      left:0;
      width: 100%;
      justify-content:center;
      display:flex;
      text-transform:uppercase;
      color:#ccc;
      font-size: 0.6em;
      font-weight: bold;
      margin-top: 0.5em;
      font-weight: normal;
    }
  }
  p{
    text-align:center;
    color:#fff;
    span{
      color:#fff;
      &:last-child{
        text-transform:uppercase;
        display:block;
        text-align:center;
      }
    }
  }
}

/*菜單排版*/
.mainmenu{
  .container{
    margin-top: 3em;
    display:flex;
    flex:5;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    @media #{$mobile}{
      display:block;
    }
    >div{      
      width:calc(100% / 5);
      padding:0 2em;
      margin:0.5em 0;
      @media #{$mobile}{
        width: 100%;
        margin:3em 0;
        padding:0;
        &:first-child{
          margin-top: 0;          
        }
        &:last-child{
          margin-bottom: 0;
        }
      }      
      @media #{$pad-pc}{
        padding:0 0.5em;
      }
      a{
        display:block;
        background: $color-1;
        border-radius:0 0 1em 1em;        
        transition:$transition-1;      
        @media #{$pad-pc}{
          padding:0 0em 0.5em;
        }
        p{
          padding:0.5em 0.5em 1em;
          font-size: 18px;
          font-weight: bold;      
          @media #{$pad-pc}{
            padding:0 0.5em;
          }
          span{
            &:last-child{              
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
        img{
          width: 100%;
          margin-top:-2px;
        }
        &:hover{
          background: $color-3;
        }
      }
    }
  }
}
/*行事曆*/
.calendar{
  background: url('http://rawpanel.com/N2ISC/image.aspx?id=212e2f06a6164b78b0cbe6722392ed5c')center center no-repeat;
  background-size: cover;
  padding:2em 5% 2em 7%;
  @media #{$mobile}{
    padding:0;
  }       
  @media #{$pad-pc}{
    padding:0 0.5em;
  }
  .title{
    display:flex;
    justify-content:flex-start;
    background: none;    
    font-size: 2.2em;
    @media #{$mobile}{
          text-align:center;
          font-size: 2.2em;
          font-weight: bold;
          position:relative;
          display:flex;
          width: 100%;
          justify-content:center;
          align-items:center;
          color:$color-3;
          background: url('http://rawpanel.com/N2ISC/image.aspx?id=2d541c7546fe4064ad67cb701c5d160b')center center no-repeat;
          background-size: 100% auto;
          padding: 0.2em 0;
            @media #{$mobile}{
              background-size: 350%;
            }            
    }
    span{
      width: auto;
      position:static;
      margin-top: 0;
      margin-left: 0.5em;
      font-weight: bold;
      font-size: 0.6em;
      letter-spacing:0.05em;
      @media #{$mobile}{
              position: absolute;
              bottom:-1.2em;
              left:0;
              width: 100%;
              justify-content:center;
              display:flex;
              text-transform:uppercase;
              color:#ccc;
              font-size: 0.6em;
              font-weight: bold;
              margin-top: 0.5em;
              font-weight: normal;
              margin-left: 0;
      }
    }
  }
  .google-calendar{
    padding:0 1%;
    display:flex;
    align-items:center;
    margin-top: 2em;
    @media #{$mobile}{
      display:block;
      margin:2em 0 0em;
      padding:0 1em;      
      max-width:100% ;
      width: 100% ;
    }
    iframe{
      width: 450px;
      height: 450px!important;
      @media #{$mobile}{
        height: 300px!important;
        width: 100% ;
        max-width:100% ;
      }
      @media #{$pad-pc}{
        height: 100%!important;
      }
    }
    p{
      width:calc(100% - 450px);
      padding-right: 340px;
      padding-left: 4em;
      color:#000;
      font-weight: bold;
      text-align:left;
      line-height:2em;
      letter-spacing: 0.1em;
      @media #{$mobile}{
        padding:0;
        width: 100%;
      }      
      @media #{$pad-pc}{
        padding:0;
        width: 70%;
        padding-left: 5%;
      }       
    }
  }
}
/*title長另外一個樣子*/
.popular,.news{
  .title{
    background: url('http://rawpanel.com/N2ISC/image.aspx?id=d3a8e317155f40dea6fb5683f6677cee') center center no-repeat;
    background-size: cover;
    font-size: 2em;
    padding:0.2em;
    @media #{$mobile}{
      background-size: 290%;
      margin:0em 0;
    }
    span{
      font-size: 0.8em;
    }
  }
}
/*熱銷美食*/
.popular{
    @media #{$pad-pc}{
      margin:3em 0 0;
    }
  .col-xs-12{
    margin-top: 4em;
    background: url('http://rawpanel.com/N2ISC/image.aspx?id=02669a9d15664c7aa5f99d76d8a6b448') no-repeat;
    background-position: 0px -10px;
    background-size: cover;
    padding:3.5em 5em;
    height: 320px;
    display:flex;
    align-items:center;
    @media #{$mobile}{
      width: 100%;
      padding:0.5em;
      margin-top: 3em;
    }
    .choice {
      position:relative;            
      width: 100%;
      .owl-item{
        border:5px solid #fff;
        transition:$transition-1;
        &:hover{
          border-color:$color-1;
        }
      }
      .owl-nav{
        display:block;
        .owl-{
          &prev,&next{
            position:absolute;
            height: 100%;
            display:flex;
            align-items:center;
            top:0;
            &::before{
              @extend  .triangle-right;
              border-width:1em;
            }
          }
          &prev{            
            left: -3em;  
            &::before{
              border-color:transparent #fff transparent transparent;
            }
          }
          &next{
            right:-3em;
          }
        }
      }
    }
  }
}
/*最新快訊*/
.news{  
  .row{
    padding:3em 13%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    background: url('http://rawpanel.com/N2ISC/image.aspx?id=963e76aa56a2460797452d166fdfe160') no-repeat;
    background-size: cover;
    @media #{$mobile}{
      padding:0.5em;
    }
    @media #{$pad-pc}{
      padding:1em 9.5%;
      display:flex;
      flex-wrap:wrap;
    }
  }
  .col-sm-push-7{
    padding-right: 1.5em;
    padding-left: 3em;
    @media #{$mobile}{
      padding-right: 0;
      margin-bottom: 1em;
      padding-left: 0;
    }
    @media #{$pad-pc}{
      padding-right: 3em;
      padding-left: 1em;
    }
    a{
      display:inline-block;
      float:left;
      overflow:hidden;
      position:relative;
      &:nth-of-type(1),&:nth-of-type(2){
        width: calc(100% / 2);
        &::after{
          content:'';
          display:flex;
          background: url('http://rawpanel.com/N2ISC/image.aspx?id=2875c433c57e42f1a25bb9bb1bfcc812') center center no-repeat;
          background-size: 30%;
          justify-content:center;
          align-items:center;
          position:absolute;
          top:0;
          width: 100%;
          height: 100%;
          transition:$transition-2;
          transform:translate3d(0,200px,0);
          opacity: 0;
          @media #{$mobile}{
            opacity: 1;
            transform:translate3d(0,0,0);
          }
        }
      }
      &:nth-of-type(3){
        width: 100%;
        &::after{          
          content:'';
          display:flex;
          background: url('http://rawpanel.com/N2ISC/image.aspx?id=393c405fad774acca396a3251b4989e7') center center no-repeat;
          background-size: 15%;
          justify-content:center;
          align-items:center;
          position:absolute;
          top:0;
          width: 100%;
          height: 100%;
          transition:opacity  ease-in,transform .3s $transition-2;          
          transform:translate3d(0,200px,0);
          opacity: 0;
          @media #{$mobile}{
            opacity: 1;
            transform:translate3d(0,0,0);
          }
        }
      }
      img{
        width: 100%;
      }
      &::before{
        content:'';
        background: rgba(0,0,0,.5);
        position:absolute;
        display:block;
        top:0;        
        width: 100%;
        height: 100%;
        opacity: 0;
        transition:.3s $transition-1;
        @media #{$mobile}{
            opacity: 1;
        }
      }
      &:hover{
        &::after{
          opacity: 1;
          transform:translate3d(0,0,0);
          transition:transform  $transition-2,opacity  .6s ease-in;
        }
        &::before{
          opacity: 1;
          transition:$transition-1;          
        }
      }
    }
  }
  @media #{$pad-pc}{
    .col-sm-pull-5{
      position:relative;
      height: 100%;
      iframe{
        height: 25vw!important;
      }
    }
  }
}

/*footer*/
footer.container-fluid{
  background: #fff;
  padding:1em 0 0;
  .row{
    margin:0;
    padding:0 8%;
    display:flex;
    flex:3 auto;
    align-items:center;
    position:relative;
    @media #{$mobile}{
      padding:0;
      display:block;
      padding:0 1em;
    }
    @media #{$pad-pc}{
      padding:0;
    }
    >a{
      img{
        width: 100%;
        height: auto;
      }
    }
    >a ,>div{
      margin:0 1em;
      @media #{$mobile}{
        display:block;
        width: 100%;
        height: auto;
        margin:0.5em 0;
      }      
      @media #{$pad-pc}{
        margin:0 5px;
      }
    }
    a{
      color:#000;
      &.provicy{
        height: 100%;
        position:relative;
        bottom: -2em;
        background: $color-1;
        color:#fff;
        border-radius:0.5em;
        padding:0.5em;
        font-size: 0.8em;
        transition:$transition-1;
        &:hover{
          background: $color-4;
          transition:$transition-1;
        }
        @media #{$mobile}{
          width: 150px;
          display:block;
          margin-left: auto;
          margin-right:auto;          
          margin-bottom: 3em;
        }              
      }
    }
    span{
      margin:0 1em;
      display:inline-block;
    }
  }
  .row{
    &:last-child{
      margin-top: 1em;
      justify-content:center;
      background: $color-1;
      padding:0.2em 0;
      span{
        color:#fff;
        font-size: 13px;
      }
    }
  }
}
.btn-group{
  position:fixed;
  top:20%;
  right:0.5em;
  z-index: 99999;
  ul{
    padding:0;
    list-style-type:none;
    li{
      color:#fff;
      font-size: 12px;
      margin:1em 0;
      color:$color-1;      
      display:flex;
      align-items:center;
      justify-content:center;
      height: 50px;
      width: 50px;
      transition:$transition-1;
      &:last-child,&:nth-last-child(2){
        background: none;
        margin:0;
        display:block;
        a{
          width: auto;
          height: auto;
        }
      }
      a{
        text-align:center;
        display:block;
        color:$color-1;
        width: 40px;
        height: 40px;
        background: $color-1;
        border-radius:50%;
        &:hover{
          background: $color-2;
          transition:$transition-1;
        }
        &.gotop{
          background: none;
          border-radius:0;
          display:block;
          &:hover{
            background: inherit;
          }
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      &:nth-last-child(2){
          height: auto;
      }
      &:last-child{
        height: auto;
        cursor: pointer;        
        &::before{
          @extend  .triangle-right;
          display:block;
          border-color: transparent transparent $color-3 transparent ;
          border-width:15px;
          height: 30px;
          width: 30px;
          margin:0 auto;
        }
        span{
          width: 30px;
          height: 2px;
          display:block;
          margin:5px auto 0;          
          background: $color-3;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }
}