// 內頁
// 全局背景顏色設定
.addauto
	background-image: url('http://raw0031.rawuser.com/images/addauto-bg.png')
	background-size: contain
	background-position: 0 -100px		

// 內頁整體環境設定
.page-
	&aboutus,&delivery,&place,&order,&service,&qa,&privacy
		.container
			background: rgba(255,255,255,.8)
			padding: 2em
			margin-bottom: 3em
			box-shadow: 1px 1px 10px -3px #000
			width: 970px
			@media #{$mobile}
				width: 100%
				padding: 1em 0
			@media #{$pad-pc}
				width: 100%
				padding: 1em
		h1.title
			background: url('http://rawpanel.com/N2ISC/image.aspx?id=2d541c7546fe4064ad67cb701c5d160b')center center no-repeat
			background-position: center center
			background-size: cover
			font-size: 1.5em
			font-weight: normal
			color: $color-1
			span
				display: block
				font-weight: normal
				margin-top: .2em
				text-transform: uppercase
				color: #333
			@media #{$mobile},#{$pad-pc}
				background-position: center center
				background-size: 300%
				padding-top: .5em
				padding-bottom: .5em
			@media #{$pad-pc}
				background-size: 180%

		.row
			>[class^="col-sm-"]
				padding: 0 1em
			>[class^="col-"]
				margin-top: 1em
				margin-bottom: 1em
				@media #{$mobile}
					margin-top: 0
					margin-bottom: 0
					padding: 0 1em
				img
					width: 80%
					+display-flex(block)
					margin: 0 auto
					@media #{$mobile}
						width: 100%
				h4.title
					font-size: 1.3em
					font-weight: normal
					color: lighten($color-5, 10%)
					text-align: left
					line-height: 1.5em
					&::after
						content: ''
						+display-flex(inline-block)
						width: 1em
						border-bottom: 1px solid $color-5
						margin-left: .2em
				p
					text-align: left
					line-height: 2em
					letter-spacing: .2em
					font-weight: normal
					color: #444
				a
					color: $color-4
			@media #{$mobile}
				margin: 0
			@media #{$pad-pc}
				margin: 0
// 內頁個別設定
.page-
	// 公司簡介
	&aboutus
		h3
			color: #fff
			font-weight: normal
			background: $color-1
			padding: .5em 0
			&+p.text-center.text-center
				color: $color-1
				font-size: 1.2em
				text-align: center
		.row
			+flex-center
			>.col-xs-12:first-child
				margin-bottom: 2em
				@media #{$mobile}
					margin-bottom: 0
					h3
						line-height: 1.5em
						padding: 1em .5em
						text-align: left
	//外送須知
	&delivery
		.row:nth-of-type(2)
			>.col-xs-12
				margin-top: 0
		.area
			padding: 0em
			border: 1px solid #ccc
			margin: 2em 0 
			background: #fff
			+box-shadow(#333 1px 1px 6px -2px)
			&:nth-of-type(1)
				margin-top: 0
			h5
				background: $color-1	
				margin-top: 0
				padding: 1em 0
				color: #fff
				font-size: 1.3em
				letter-spacing: .2em
				font-weight: normal
			&:nth-child(odd)
				h5
					background: lighten($color-5, 10%)
			p
				padding: 0 1em
		.row:last-child
			border-top: 1px solid rgba($color-5,.5)
			padding-top: 1em
	//招待所租借
	&place
		h3
			color: #fff
			font-weight: normal
			background: $color-1
			padding: .5em 0
			margin-top: 0
			@media #{$mobile}
				line-height: 1.5em
				padding: 1em .5em
				text-align: left
		p
			padding-left: 1em
			@media #{$mobile}
				padding-left: 0
		ul
			text-align: left
			padding-left: 1.5em
			li
				line-height: 1.5em
				letter-spacing: .2em
				color: #444
		.row .col-xs-12
			margin-top: 0
			margin-bottom: 0
		.picWall
			+display-flex
			+flex-wrap(wrap)
			list-style: none
			padding-left: 0
			margin-top: 2em
			li
				+flex(1 0 25%)
				position: relative
				a
					height: 150px
					display: block
					border: 2px solid #fff
					position: relative
					overflow: hidden
					+box-shadow(#333 1px 1px 5px -1px)
					&::after
						content: ''
						display: block
						position: absolute
						top: 0
						height: 100%
						width: 100%
						background: rgba(0,0,0,.5)
						z-index: 0
					&:hover
						img
							transform: scale(1.1)
							opacity: .5
				img.img-responsive.img-responsive
					width: 100%
					height: 100%
					transition: 2s $transition-1
					position: relative
					z-index: 1
				@media #{$mobile}
					+flex(1 0 50%)
	&order
		.row
			border-bottom: 1px dotted $color-5
			padding-bottom: 1em
			+flex-center
			&:last-child
				padding-bottom: 0
				border-bottom: 0
			>[class^="col-sm"]
				padding: 0
			@media #{$mobile}
				width: calc(100% - 2em)
				margin: 0 auto
				[class^='col-']
					padding: 0
		h1.title
			width: 100%
		ol
			text-align: left
			padding-left: 2em
			li
				line-height: 2em
				color: #444
				letter-spacing: .2em
	&service
		.container
			@media #{$mobile}
				padding: 0 1em
				[class^='col-']
					padding: 0
		.row
			border-bottom: 1px dotted $color-5
			padding-bottom: 1em
			+flex-center
			&:last-child
				padding-bottom: 0
				border-bottom: 0
			h1.title
				width: 100%
			>[class*="col-sm"]
				padding: 0
			@media #{$mobile}
				margin-bottom: 2em
				&:last-child
					margin-bottom: 0
	&qa
		>ol
			color: #444
			margin-top: 2em
			margin-bottom: 2em
		.panel
			text-align: left
			background: transparent
			a,p
				color: #444
				line-height: 2em
			ol
				padding-left: 2em
				color: #444
				li
					letter-spacing: .2em
					color: #444
					line-height: 2em
			.collapse
			.collapse.in,.collpasing
				background: #fff
				padding: .5em
			.red
				color: red
				letter-spacing: .2em
				line-height: 1.5em
		@media #{$mobile},#{$pad-pc}
			.container
				padding: 0 1em
			#accordion
				padding-left: 1.5em
				.collapse
					margin-left: -1.5em
	&privacy
		article
			margin: 1em 0
		p
			line-height: 2em
			text-align: left
			color: #444
		h4
			font-weight: bold
			font-size: 1.5em
			color: #444
			line-height: 2em
			text-align: left
		ul 
			padding-left: 2em
			li
				line-height: 2em
				letter-spacing: .2em
				text-align: left
		@media #{$mobile}
			.container
				padding: 0 1em