// raw的產品分類頁面
// 產品頁面背景
#pagebody
	#wrap
		background-image: url('http://raw0031.rawuser.com/images/addauto-bg.png')
		background-size: contain
		background-position: 0 -100px	
		padding: 2em 0
.productlist,.cart-list,.member
	background: rgba(255,255,255,.8)
	padding: 2em 1em
	margin-bottom: 3em
	box-shadow: 1px 1px 10px -3px #000
	width: 970px
	@media #{$mobile},#{$pad-pc}
		width: calc(100% - 2em)
		padding: 1em
	main
		h3
			// background: url('http://rawpanel.com/N2ISC/image.aspx?id=2d541c7546fe4064ad67cb701c5d160b')center center no-repeat
			background-position: center center
			background-size: cover
			font-size: 1.3em
			font-weight: normal
			color: $color-1
			text-align: center
			border-bottom: 1px solid $color-5
			padding-bottom: .5em
	.row
		margin-left: 0
		margin-right: 0
	.productlist-main
		.row
			+flex-center
			margin: 3em 0
			&:first-child,&:nth-child(2)
				margin: 0
		[class^='col-sm-4']
			margin: 0 .5em
			width: calc(100% / 3 - 1em)
			background: #fff
			padding: 0em
			+box-shadow(#000 1px 1px 6px -2px)
			.productlist-info-container
				padding: .5em
			.product-title 
				line-height: 1em
				a
					color: $color-1
			.original-price
				display: none
			.price
				color: $color-1
			@media #{$mobile}
				width: 100%
				margin-left: 0
				margin-bottom: 3em
				&:last-child
					margin-bottom: 0
// 左側
.categary-menu
	list-style: none
	padding-left: 0
	padding-right: 0
	.menu-lv	
		list-style: none
		padding-left: 0em
		padding-right: 0em
		background: rgba($color-1,.5)
		a,span
			color: #fff
		li
			padding: 0 .2em
	.menu-item
		color: $color-3
.categary-title
	display: none
.pages 
	a
		transition: $transition-1
		&:hover
			border-color: $color-1
	span.active
		background-color: $color-1
		border: $color-1
.search 
	transition: $transition-1
	&:hover
		border-color: $color-1
		.search-btn
			background-color: rgba($color-1,.7)
			i
				color: #fff
	.search-btn
		background-color: $color-5
		border-color: $color-5
		transition: $transition-1
		i
			color: #fff
		&:hover
			background-color: rgba($color-1,.7)
.breadcrumb
	display: none
.productlist.product-list-detail
	.breadcrumb
		display: none
	.row
		[class^="col-sm"]
			border-color: transparent
			background: transparent
			box-shadow: none
		.col-sm-8
			width: 50%
			@media #{$mobile}
				width: 100%
		.col-sm-4
			width: 50%
			@media #{$mobile}
				width: 100%
		.photoSlide-show
			background-color: transparent
			background-size: contain
		.photoSlide-list
			display: none
	.social-menu
		display: none
.product-detail
	display: none
.control-num,#aaddtocart
	border-color: $color-1
	transition: $transition-1
	&:hover
		border-color: $color-1
	input[type=button]
		background-color: $color-1
		transition: $transition-1
		color: #fff
		&:hover
			background: $color-5
#aaddtocart
	background: $color-3
	&:hover
		background: $color-1
.productlist .productlist-main .product-mobile~.row
	margin: 1em 0
.productlist-list
	.productlist-item
		a
			color: $color-1
@media #{$mobile},#{$pad-pc}
	.productlist-side 
		.categary-show
			&:hover,&:active,&:focus
				border-color: $color-1
		.categary-menu.categary-menu
			border-color: $color-1
			border-width: solid
			border-style: solid
			padding: 0
			li
				border: none
				border-top: 0
				padding: 1em .5em
	.pages a,.pages span
		width: 2em
		height: 2em
	.pages a
		+display-flex(inline-flex)
		+align-items(center)
		+justify-content(center)
	.product-mobile
		.product-title
			font-size: 1.3em
			font-weight: bold
			color: $color-1
		.price
			font-size: 1em
			margin-top: .5em
			color: $color-1
			display: block
@media #{$pad-pc}
	.categary-menu.categary-menu.categary-menu
		border-color: transparent	
		li
			padding: .5em
form[action="./cart"]
	.container-fluid.title
		background: url('http://rawpanel.com/N2ISC/image.aspx?id=2d541c7546fe4064ad67cb701c5d160b')center center no-repeat
		background-position: center center
		background-size: cover
		font-size: 1.5em
		font-weight: normal
		text-align: center
		h2
			color: $color-5
			font-weight: normal