.row_5.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_5.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_4.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_3.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_2.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div > div.module:not(.module-ads), .row_0.col1 #Dyn_2_1 > div.module:not(.module-ads), .row_0.col1 .col_02 > .mcol > div + div, .footer > .minner, .header > .minner, .row_5.col3 > .mrow, .row_5.col2 > .mrow, .row_4.col3 > .mrow, .row_4.col2 > .mrow, .row_3.col3 > .mrow, .row_3.col2 > .mrow, .row_2.col3 > .mrow, .row_2.col2 > .mrow, .row_1 > .mrow{
	max-width: 100%;	
}
/*手機板padding*/
@media screen and (max-width: 767px){
	.minner.minner{
		padding:0;
	}
}

/*首頁*/
 .page_mobilehome{
 	.module-{
 		&cgmenu{
 			display: none;
 		}
 	}
 }
 ul.navbar-nav{
 	margin-top: 0;
 }
 .header{
 	box-shadow:none;
 }
 .footer{
 	padding:0;
 }
 .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
 	background-color: transparent;
 	color:transparent;
 	border-color:transparent;
 }
 .go-pcurl,.module-minicart{
 	display:none;
 }
 /*page-clean*/
 .module-{
 	&detail{
		.mpgdetail{
			padding:0;
		}
 	}
 }


 .menu-wrapper-area,#wrap #main-nav,#wrap footer{
	display:none;
 }
 .addauto{
 	padding:0;
 	margin-bottom: 0;
 }
 [class^="col-md-12"][class^="col-md-12"],[class^="col-"][class^="col-"]{
 	padding:0;
 	margin:0;
 }
 .nav>li>a:hover, .nav>li>a:focus,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
 	background-color: transparent;
 }
  @media #{$mobile}{
 	#wrap{
 		padding-top: 0;
 	}
 }