/*google搜尋*/
.googleSRCH{
  width: 180px;
  .gsc-control-cse{
    padding:0;
    .gsc-search-box{
      margin-bottom: 0;
      .gstl_50 {
        background-color: transparent;
        width: auto;
      }
      .gsc-input{
          padding-right: 0!important;
          width: 150px;
        .gsc-input-box {
          height: 2em;
          border:1px solid $color-1;
          border-radius:1em;
          .gsib_a{
            padding:0;
            input.gsc-input{
              padding:0 0.5em!important;
              background-size: 150%!important;
              background-color:transparent!important;
              display:flex;
              height: 2em!important;
              background-position: 5px center!important;
              background: none!important;
            }
            input.gsc-input::-webkit-input-placeholder{opacity:0!important}
          }
        }
      }
      .gsc-search-button{
        width: 10px!important;
        padding:0em;
        input{
          margin:0;
          padding:0;
          width: 26px!important;
          height: 26px!important;  
          border:1px solid #fff!important;
          color:transparent;
          background-color: #fff!important;
          box-shadow:none!important;
          -webkit-border-radius:0;
          position:relative;
          &::before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            z-index: 9;
            display:block;
            background: url('http://rawpanel.com/N2ISC/image.aspx?id=99071552c887484dbca4ed444423bf7f')center center no-repeat,none!important;
            width: 26px!important;
            height: 26px!important;  
            border:3px solid #fff;
          }
        }
      }
    }
  }
}